<div class="bh_chart hidden-xs">
	<div class="float-left m-r-15 text-center">
		<small><strong>CEP</strong></small>
		<h6 class="mb-0 mt-1"><i class="icon-users"></i> {{ nombre_cep|number_format(0,'','.') }}</h6>
	</div>
</div>
<div class="bh_chart hidden-sm">
	<div class="float-left m-r-15 text-center">
		<small><strong>PREBADGE</strong></small>
		<h6 class="mb-0 mt-1"><i class="icon-users"></i> {{ nombre_prebadge|number_format(0,'','.') }}</h6>
	</div>
</div>
<div class="bh_chart hidden-sm">
	<div class="float-left m-r-15 text-center">
		<small><strong>BADGE</strong></small>
		<h6 class="mb-0 mt-1"><i class="icon-users"></i> {{ nombre_badge|number_format(0,'','.') }}</h6>
	</div>
</div>
<!--
<div class="bh_chart hidden-sm">
	<div class="float-left m-r-15 text-center">
		<small><strong>III BUCHETTES</strong></small>
		<h6 class="mb-0 mt-1"><i class="icon-users"></i> 1.013</h6>
	</div>
</div>
<div class="bh_chart hidden-sm">
	<div class="float-left m-r-15 text-center">
		<small><strong>IV BUCHETTES</strong></small>
		<h6 class="mb-0 mt-1"><i class="icon-users"></i> 1.013</h6>
	</div>
</div>
-->
